{% load static %}
<!--<section class="beauty-vision" id="about">-->
<!--    <div class="container">-->

<!--        <div class="vision-header">-->
<!--            <span class="vision-subtitle">Aesthetic Science</span>-->
<!--            <h1 class="vision-main-title">Новаторское видение красоты через <br> <span class="highlight">питание</span></h1>-->
<!--        </div>-->

<!--        <div class="vision-content-card glass-effect">-->

<!--            <div class="vision-intro">-->
<!--                <span class="big-number">20</span>-->
<!--                <p>На протяжении <span class="weight-600">двадцати лет</span> мы продвигаем концепцию, где красота — это результат внутренней гармонии.</p>-->
<!--            </div>-->

<!--            <div class="vision-detailed-grid">-->

<!--                <div class="text-block">-->
<!--                    <h3 class="block-mini-title">Комплексный подход</h3>-->
<!--                    <p>Пионеры синергии, мы с самого начала подтверждали важность взаимосвязи между здоровьем, красотой и правильным питанием. Это основополагающее позиционирование сформировало инновационные формулы, разработанные на стыке микронутриентов и дермокосметики.</p>-->
<!--                </div>-->

<!--                <div class="text-block accent-block">-->
<!--                    <h3 class="block-mini-title">Эффективность</h3>-->
<!--                    <p>Проверенные временем, наши решения доказали свою эффективность. Сегодня мы интегрируем самые последние научные достижения, отвечая меняющимся потребностям времени.</p>-->
<!--                </div>-->

<!--            </div>-->

<!--            <div class="deco-molecule m1"></div>-->
<!--            <div class="deco-molecule m2"></div>-->
<!--        </div>-->

<!--    </div>-->
<!--</section>-->
<div class="about-section-container" id="about">
   <main class="about-page">

        <section class="beauty-vision">
            <div class="container">
                <div class="vision-header">
<!--                    <span class="vision-subtitle">Aesthetic Science</span>-->
                    <h1 class="vision-main-title">Новаторское видение красоты через <br> <span class="highlight">питание</span></h1>
                </div>

                <div class="vision-content-card glass-effect">
                    <div class="vision-intro">
                        <span class="big-number">20</span>
                        <p>На протяжении <span class="weight-600">двадцати лет</span> мы продвигаем концепцию, где красота — это результат внутренней гармонии.</p>
                    </div>

                    <div class="vision-detailed-grid">
                        <div class="text-block">
                            <h3 class="block-mini-title">Комплексный подход</h3>
                            <p>Пионеры синергии, мы с самого начала подтверждали важность взаимосвязи между здоровьем, красотой и правильным питанием.</p>
                        </div>
                        <div class="text-block accent-block">
                            <h3 class="block-mini-title">Эффективность</h3>
                            <p>Сегодня мы интегрируем самые последние научные достижения, отвечая меняющимся потребностям времени.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mission-section">
            <div class="container">
                <div class="grid-2-col">
                    <div class="image-box">
                        <img src="{% static 'biocyte/img/mission1.webp' %}" alt="Collagen Product" loading="lazy"> </div>
                    <div class="text-box-mission">
                        <h2 class="section-title">Наша миссия</h2>
                        <p class="lead-text">ПЕРЕОСМЫСЛЕНИЕ КРАСОТЫ ИЗНУТРИ</p>
                        <p>Мы являемся пионерами на рынке коллагена и стремимся разрабатывать высококачественные продукты, основанные на последних научных достижениях.</p>
                        <p>Наша цель — продвигать целостную красоту, в которой уверенность и здоровье излучаются изнутри.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="values-section">
            <div class="container">
                <h2 class="centered-title">Наши ценности</h2>
                <div class="values-grid">
                    <div class="value-item">
                        <div class="value-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-microscope-icon lucide-microscope"><path d="M6 18h8"/><path d="M3 22h18"/><path d="M14 22a7 7 0 1 0 0-14h-1"/><path d="M9 14h2"/><path d="M9 12a2 2 0 0 1-2-2V6h6v4a2 2 0 0 1-2 2Z"/><path d="M12 6V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3"/></svg></div>
                        <h3>Инновация</h3>
                        <p>Исследуя новые решения, мы стремимся пересмотреть
                            стандарты нутрикосметики, одновременно делая жизни наших клиентов лучше.</p>
                    </div>
                    <div class="value-item">
                        <div class="value-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-check-icon lucide-shield-check"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/><path d="m9 12 2 2 4-4"/></svg></div>
                        <h3>Качество</h3>
                        <p>Совершенство определяет каждый шаг нашего развития. Мы стремимся предлагать продукты высочайшего качества, точно разработанные и тщательно протестированные для обеспечения их эффективности.</p>
                    </div>
                    <div class="value-item">
                        <div class="value-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flower-icon lucide-flower"><circle cx="12" cy="12" r="3"/><path d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"/><path d="M12 7.5V9"/><path d="M7.5 12H9"/><path d="M16.5 12H15"/><path d="M12 16.5V15"/><path d="m8 8 1.88 1.88"/><path d="M14.12 9.88 16 8"/><path d="m8 16 1.88-1.88"/><path d="M14.12 14.12 16 16"/></svg></div>
                        <h3>Этичность</h3>
                        <p>Мы твердо верим в красоту, которая бережно относится к окружающей среде и живым существам.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="expertise-section">
            <div class="container">
                <div class="grid-2-col">
                    <div class="text-box">
                        <h2 class="section-title">Наша экспертиза</h2>
                        <p>Нутрикосметика - это инновационный подход к красоте, основанный на идее, что здоровье и сияние кожи, волос и ногтей начинаются изнутри.
Она сочетает в себе принципы правильного питания и косметики, используя специально разработанные пищевые добавки для поддержания и улучшения здоровья и внешнего вида. Эти добавки, богатые витаминами, минералами, антиоксидантами и другими активными ингредиентами, сочетаются с наружным уходом, укрепляя кожу, стимулируя выработку коллагена, борясь со старением клеток и питая волосы и ногти.
Наш бренд, специализирующийся на нутрикосметике, разрабатывает уникальные и эффективные формулы, основанные на натуральных и научно обоснованных ингредиентах, чтобы предложить каждому возможность раскрыть свою естественную красоту с помощью
комплексного и здорового подхода.</p>

                    </div>
                    <div class="image-box">
                        <img src="{% static 'biocyte/img/expert.webp' %}" alt="Molecules" loading="lazy"> </div>
                </div>
            </div>
        </section>

    </main>
</div>